---
title: Our Products
image_view: true
---
<h1>Our Products</h1>
<p>Each weekend we bake a small selection of artisan masala breads with fresh, clean ingredients and traditional techniques. Browse our current offerings below.</p>



{% if page.image_view %}
	{% for category in site.categories %}
		<h2>{{ category[0] }}</h2>
		<div class="products">
			{% for product in category[1] %}
				<div class="product" style="background-image: url('{{ product.featured_image }}')">
					<a href="{{ site.baseurl }}{{ product.url }}"><span>{{ product.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}
